.dog-container {
  min-height: 400px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.dog-container img {
  display: block;
  margin: 0 auto;
}

.get-dog {
  font-size: 30px;
  border-radius: 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 40px 0;
}
